{% extends 'templates/adminLayout.html.twig' %}
{% set page = 'comments' %}

{% block mainHeader %}
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <i data-feather="message-square"></i>
            </div>
            Commentaires
          </h1>
          <div class="page-header-subtitle">Modérez ici les commentaires des internautes</div>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="/../mon-blog/adminDashboard">
            <i class="me-1" data-feather="arrow-left"></i>
            Liste des Postes
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mainPageContent %}
  <div class="container px-4">
    <div class="col-auto m-3">
      <h1 class="page-header-title">
        <button class="btn btn-purple btn-icon" type="button">
            <i class="fas fa-flag"></i>
        </button>
          Listes des Commentaires
      </h1>
    </div>
    {% block content %}
      <div class="card card-header-actions col-lg-7 col-md col-sm">
       {% if success is defined %}
          <div class="alert alert-success text-center" role="alert">
            {{ success }}
          </div>
        {% endif %}
        {% if comments %}
        {% for comment in comments %}
        <div class="card card-header-actions m-1">

         <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <form class="modal-dialog" role="document" method="POST" enctype="multipart/form-data" action="/../mon-blog/adminDashboard/comments/{{ comment.id }}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous supprimer ce commentaire ?</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">{{ comment.content }}</div>
                    <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Non</button><button class="btn btn-danger" type="submit">Oui</button></div>
                </div>
              </form>
            </div>
            <div class="card-header nav-item dropdown no-caret dropdown-user"> 
              <div class="text-secondary"><i class="fa fa-user-circle text-secondary" aria-hidden="true"></i>
              {{ comment.authorName }}</div>

            <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Retirer</button>
            </div>
            <div class="card-body">
              {{ comment.content }}
            </div>
            <div class="card-footer">
              <small>Ajouté le : {{ comment.createdAt }}</small>
            </div>
          {# </form> #}
        </div>
        {% endfor %}
        {% else %}
          <p class="m-5">Pas de commentaires disponible</p>
        {% endif %}

        <!-- Pagination -->
        <nav aria-label="Pagination">
          <hr class="my-0"/>
          <ul class="pagination justify-content-center my-4">
            {% if currentPage > 1 %}
              <li class="page-item">
                <a class="page-link" href="/../mon-blog/adminDashboard/comments/{{ currentPage - 1 }}" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for page in 1..totalPages %}
              <li class="page-item {% if page == currentPage %}active{% endif %}" aria-current="page">
                <a class="page-link" href="/../mon-blog/adminDashboard/comments/{{ page }}">{{ page }}</a>
              </li>
            {% endfor %}

            {% if currentPage < totalPages %}
              <li class="page-item" aria-current="page">
                <a class="page-link" href="/../mon-blog/adminDashboard/comments/{{ currentPage + 1 }}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    {% endblock %}
  </div>
{% endblock %}
