{% extends 'templates/adminLayout.html.twig' %}
{% set page = 'contacts' %}
{% block mainHeader %}
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <i data-feather="list"></i>
            </div>
            Messagerie
          </h1>
          <div class="page-header-subtitle">Consultez les messages reçu via la page contact du blog</div>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="/../mon-blog/adminDashboard">
            <i class="me-1" data-feather="arrow-left"></i>
            Liste des Postes
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mainPageContent %}
  <div class="container-fluid px-4">

    {% block content %}
      <div class="container pt-5">
        <h1>Messages</h1>

        {% if contacts %}
          <ul>
            {% for contact in contacts %}
              <li>
                <h5>{{ contact.userName }}</h5>
                <h6>{{ contact.email }}</h6>
                <p>{{ contact.message }}</p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Pas de contacts disponible sur cette page</p>
        {% endif %}

        <!-- Pagination -->
        <nav aria-label="Pagination">
          <hr class="my-0"/>
          <ul class="pagination justify-content-center my-4">
            {% if currentPage > 1 %}
              <li class="page-item">
                <a class="page-link" href="/../mon-blog/contacts/{{ currentPage - 1 }}" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for page in 1..totalPages %}
              <li class="page-item {% if page == currentPage %}active{% endif %}" aria-current="page">
                <a class="page-link" href="/../mon-blog/contacts/{{ page }}">{{ page }}</a>
              </li>
            {% endfor %}

            {% if currentPage < totalPages %}
              <li class="page-item" aria-current="page">
                <a class="page-link" href="/../mon-blog/contacts/{{ currentPage + 1 }}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    {% endblock %}

  </div>
{% endblock %}
