{% extends 'templates/adminLayout.html.twig' %}
{% set page = 'list-post' %}

{# {% block mainHeader %}
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <i data-feather="list"></i>
            </div>
            Gestion des Posts
          </h1>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="/../mon-blog/adminDashboard/blog-management&create-post">
            <i class="me-1" data-feather="plus"></i>
            Créer un Post
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %} #}
{% block mainPageContent %}
  <!-- Main page content-->
  <div class="container-xl px-4 mt-n10">
    <div class="row">
      <div class="col-xl-4 mb-4">
        <!-- Dashboard example card 1-->
        <a class="card lift h-100">
          <div class="card-body d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center justify-content-between">
              <div class="me-3">
                <i class="feather-xl text-primary mb-3" data-feather="package"></i>
                <h5>Gérer les posts</h5>
                <div class="text-muted small">Vous pouvez créer vos posts, les modifier, ou les supprimer</div>
              </div>
              <img src="/../mon-blog/public/assets/img/illustrations/browser-stats.svg" alt="images de d'illustration" style="width: 8rem"/>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 mb-4">
        <!-- Dashboard example card 2-->
        <a class="card lift h-100">
          <div class="card-body d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center justify-content-between">
              <div class="me-3">
                <i class="feather-xl text-secondary mb-3" data-feather="settings"></i>
                <h5>Gérer les profils</h5>
                <div class="text-muted small">Ajoutez et modifiez les profils d'autres administrateurs</div>
              </div>
              <img src="/../mon-blog/public/assets/img/illustrations/processing.svg" alt="images de d'illustration" style="width: 8rem"/>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 mb-4">
        <!-- Dashboard example card 3-->
        <a class="card lift h-100">
          <div class="card-body d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center justify-content-between">
              <div class="me-3">
                <i class="feather-xl text-info mb-3" data-feather="mail"></i>
                <h5>Gérer les messages</h5>
                <div class="text-muted small">Consultez les messages laissés par les internautes</div>
              </div>
              <img src="/../mon-blog/public/assets/img/illustrations/mails-1.svg" alt="images de d'illustration" style="width: 8rem"/>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
              <div class="col-auto mb-3">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="list"></i>
                  </div>
                  Gestion des Posts
                </h1>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <a class="btn btn-sm btn-light text-primary" href="/../mon-blog/adminDashboard/blog-management&create-post">
                  <i class="me-1" data-feather="plus"></i>
                  Créer un Post
                </a>
              </div>
            </div>
          </div>
        </div>
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Titre du Post</th>
              <th>Aperçu du Post</th>
              <th>Date / Heure</th>
              <th>Auteur</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Titre du Post</th>
              <th>Aperçu du Post</th>
              <th>Date / Heure</th>
              <th>Auteur</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            {% for post in posts %}
              <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.postpreview}}</td>
                <td>{{ post.updatedAt}}</td>
                <td>{{ user.userName }}</td>
                <td>
                  <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="/../mon-blog/adminDashboard/blog-management-edit-post/{{ post.id }}">
                    <i data-feather="edit"></i>
                  </a>
                  <a class="btn btn-datatable btn-icon btn-transparent-dark" href="/../mon-blog/adminDashboard/blog-management-delete-post/{{ post.id }}">
                    <i data-feather="trash-2"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
