{% extends 'templates/layout.html.twig' %}

{% set page = 'register' %}

{% block header_title %}
  {# Créer un compte #}
{% endblock %}

{% block header_description %}
  {# Découvrez nos derniers articles et restez informé de nos activités. #}
{% endblock %}

{% block content %}
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Créer un compte</h3>
                </div>
                <div class="card-body">
                  <form class="needs-validation" novalidate="novalidate" method="POST">
                    {% if error is defined%}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                    {% endif %}
                    <div class="{% if errors.userName %}has-error{% endif %}">
                      <div class="form-floating mb-3">
                        <input class="form-control {% if errors.userName %}is-invalid{% endif %}" id="inputUserName" type="text" name="userName" required="required" value="{{ value.userNameValue ?? '' }}"/>
                        <label for="inputUserName">Nom utilisateur *</label>
                       {% if errors.userName %}
                          <div class="invalid-feedback">{{ errors.userName }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="{% if errors.email %}has-error{% endif %}">
                      <div class="form-floating mb-3">
                        <input class="form-control {% if errors.email %}is-invalid{% endif %}" id="inputEmail" type="email" name="email" required="required" value="{{ value.emailValue ?? '' }}"/>
                        <label for="inputEmail">Adresse email *</label>
                        {% if errors.email %}
                          <div class="invalid-feedback">{{ errors.email }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="{% if errors.password %}has-error{% endif %}">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control {% if errors.password %}is-invalid{% endif %}" id="inputPassWord" type="password" name="passWord" required="required" value="{{ value.passwordValue ?? '' }}"/>
                            <label for="inputPassWord">Mot de passe *</label>
                            {% if errors.password %}
                              <div class="invalid-feedback">{{ errors.password }}</div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-floating input-group mb-3 mb-md-0">
                            <input class="form-control {% if errors.password2 %}is-invalid{% endif %}" id="inputPassWordConfirm" type="password" name="passWordConfirm" required="required" value="{{ value.passwordValue2 ?? '' }}"/>
                            <label for="inputPassWordConfirm">Confirmez mot de passe *</label>
                             <div class="input-group-append" id="show-passWord">
                              <span class="input-group-text">
                                <i class="fa fa-eye" id="passWord-icon"></i>
                              </span>
                            </div>
                            {% if errors.password2 %}
                              <div class="invalid-feedback">{{ errors.password2 }}</div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="text-muted small mt-1">* Le mot de passe doit contenir au moins : 8 caractères, une majuscule, un nombre et un caractère spécial (&, $, ...)</div>
                      </div>
                    </div>
                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button type="submit" class="btn btn-dark btn-block">Créer un compte</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <a class="text-success" href="http://localhost/mon-blog/login">Vous avez un compte? Connectez-vous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-5 bg-light mt-5">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small"></div>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}
