{% extends 'templates/layout.html.twig' %}


{% set page = 'home' %}

{% block header_title %}
    Bienvenue sur mon Blog!
{% endblock %}

{% block header_description %}
    Découvrez nos derniers articles et restez informé de nos activités.
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog entries -->
        <!-- Featured blog post -->
        <h1 class="">A la une !</h1>
        {% if posts is empty %}
            <p>Aucun post disponible.</p>
        {% else %}
            {% set latestPost = posts|last %}
            <!-- A la une -->
            <div class="card mb-4 p-0">
                <a href="http://localhost/mon-blog/post/{{ latestPost.id }}">
                    <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                </a>
                <div class="card-body">
                    <div class="small text-muted">Date de publication: {{ latestPost.createdAt }}</div>
                    <div class="small text-muted">Date de mise à jour: {{ latestPost.updatedAt }}</div>
                    <h2 class="card-title h4">{{ latestPost.title }}</h2>
                    <p class="card-text">{{ latestPost.content }}</p>
                    <p>Auteur : {{ latestPost.authorId }}</p>
                    <p>id : {{ latestPost.id }}</p>
                    <a class="btn btn-primary" href="http://localhost/mon-blog/post/{{ latestPost.id }}">Lire →</a>
                </div>
            </div>
        {% endif %}

        <!-- List of articles -->
        <h2 class="">Explorer nos derniers articles :</h2>
        <div class="col-lg-8">
            {% for post in posts %}
                <div class="container-fluid p-0">
                    <div class="card mb-4 p-0">
                        <a href="http://localhost/mon-blog/post/{{ post.id }}">
                            <img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." />
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">Date de publication: {{ post.createdAt }}</div>
                            <div class="small text-muted">Date de mise à jour: {{ post.updatedAt }}</div>
                            <h2 class="card-title h4">{{ post.title }}</h2>
                            <p class="card-text">{{ post.content }}</p>
                            <p>Auteur : {{ post.authorId }}</p>
                            <p>id : {{ post.id }}</p>
                            <a class="btn btn-primary" href="http://localhost/mon-blog/post/{{ post.id }}">Lire →</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- Sidebar -->
        <div class="col-lg-4">
            <!-- Search widget -->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget -->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget -->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
