{% extends 'templates/layout.html.twig' %}

{% set page = 'home' %}

{% block header_title %}
  Bienvenue sur mon Blog!
{% endblock %}

{% block header_description %}
  Découvrez nos derniers articles et restez informé de nos activités.
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <!-- Blog entries -->
      <!-- Featured blog post -->
      <h1 class="">A la une !</h1>
      {% if posts is empty %}
        <p>Aucun post disponible.</p>
      {% else %}
        {% set latestPost = posts | last %}
        <!-- A la une -->
        <div class="card mb-4 p-0">
          <a href="http://localhost/mon-blog/post/{{ latestPost.id }}">
            <img class="card-img-top" src="http://localhost/mon-blog/public/assets/img/postImg/{{ post.imageUrl }}" alt="post image"/>
          </a>
          <div class="card-body">
            <div class="small text-muted">Date de publication:
              {{ latestPost.createdAt }}</div>
            <div class="small text-muted">Date de mise à jour:
              {{ latestPost.updatedAt }}</div>
            <h2 class="card-title h4">{{ latestPost.title }}</h2>
            <p class="card-text">{{ latestPost.postpreview }}</p>
            <p>Auteur :
              {{ latestPost.authorId }}</p>
            <p>id :
              {{ latestPost.id }}</p>
            <a class="btn btn-primary" href="http://localhost/mon-blog/post/{{ latestPost.id }}">Lire →</a>
          </div>
        </div>
      {% endif %}

      <!-- List of articles -->
      <h2 class="mt-5">Explorer nos derniers articles :</h2>
      <div class="col-lg-8">
        {% for post in posts %}
          <div class="container-fluid p-0">
            <div class="card mb-4 p-0">
              <a href="http://localhost/mon-blog/post/{{ post.id }}">
                <img class="card-img-top" src="http://localhost/mon-blog/public/assets/img/postImg/{{ post.imageUrl }}" alt="post image"/>
              </a>
              <div class="card-body">
                <div class="small text-muted">Date de publication:
                  {{ post.createdAt }}</div>
                <div class="small text-muted">Date de mise à jour:
                  {{ post.updatedAt }}</div>
                <h2 class="card-title h4">{{ post.title }}</h2>
                <p class="card-text">{{ post.postpreview }}</p>
                <p>Auteur :
                  {{ post.authorId }}</p>
                <p>id :
                  {{ post.id }}</p>
                <a class="btn btn-primary" href="http://localhost/mon-blog/post/{{ post.id }}">Lire →</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if categories is empty %}
        <p>Aucune catégories repertoriée</p>
      {% else %}
        <!-- Sidebar -->
        <div class="col-lg-4">
          <!-- Search widget -->
          <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search termpost image" aria-label="Enter search termpost image" aria-describedby="button-search"/>
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
              </div>
            </div>
          </div>
          <!-- Categories widget -->
          <div class="card mb-4">
            <div class="card-header">Categories</div>
            <div class="card-body">
              <ul class="list-unstyled">
                {% for category in categories %}
                  <li>
                    <a href="http://localhost/mon-blog/posts/{{ category.id }}">{{ category.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- Side widget -->
          <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
          </div>
        </div>
      {% endif %}
      {# Close the else statement properly here #}
    </div>
  </div>
{% endblock %}
