{% extends 'templates/layout.html.twig' %}

{% block head %}
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ title }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../public/assets/favicon.ico" />

        <!-- font-awesome icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../public/css/booststrapStyles.css" rel="stylesheet"/>
        <link href="../public/css/myStyles.css" rel="stylesheet"/>
{% endblock %}

{% block header_title %}
   {{ post.title }}
{% endblock %}

{% block header_description %}
    {# Découvrez nos derniers articles et restez informé de nos activités. #}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <img class="card-img-top" src="http://localhost/mon-blog/public/assets/img/postImg/{{ post.imageUrl }}" alt="Post image" />
        <div class="container mt-5">
            {% if post %}
                <div class="mb-4">
                    <h3 class="card-title"> {{ post.title }}</h3>
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                        <div class="small text-muted">Date de publication: {{ post.createdAt }}</div>
                        <div class="small text-muted">Date de mise à jour: {{ post.updatedAt }}</div>
                        <br>
                        <blockquote class="blockquote mb-0">
                            <footer class="blockquote-footer">Auteur :
                                <cite title="Source Title">{{ post.authorRole }}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                {% if user is defined and user is not null %}
                    <form class="mt-5" action="sendComment" method="POST">
                        <div class="mb-3">
                            <label for="validationTextarea" class="form-label">Laissez nous votre commentaire</label>
                            <input type="hidden" name="article_id" value="{{ post.id }}">
                            <textarea class="form-control" id="validationTextarea" name="comment_text" rows="3" cols="50" placeholder="Ajouter un commentaire" required></textarea>
                            <button type="submit" class="btn btn-success mt-2" value="Envoyer">Envoyer</button>
                        </div>
                    </form>
                {% else %}
                    <p>Vous devez être connecté pour laisser un commentaire.</p>
                {% endif %}
            {% endif %}
            
            {# Comment rendering loop #}
            {% if comments %}
                {% for comment in comments %}
                    <div class="list-group mb-3">
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ comment.authorRole }}</h5>
                                <small class="text-body-secondary">{{ comment.postId }}</small>
                            </div>
                            <p class="mb-1">{{ comment.content }}</p>
                            <small class="text-body-secondary">Send at : {{ comment.createdAt }}</small>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block JsLink %}
    <!-- Core theme JS-->
    <script src="../public/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="public/js/passwordShow.js"></script>
{% endblock %}
